[run]
source = km3pipe

[report]
include =
    src/km3pipe/*
    src/km3modules/*
omit =
    src/km3pipe/utils/*
    src/km3pipe/__version__.py
    src/km3pipe/io/i3.py
    src/km3modules/dummy.py
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if self.debug:
    if settings.DEBUG
