[run]
source = km3pipe

[report]
include =
    km3pipe/*
    km3modules/*
omit =
    */tests/*
    */*/tests/*
    km3pipe/utils/*
    km3modules/ahrs.py
    km3modules/dummy.py
    km3modules/fit.py
    km3modules/hardware.py
    km3modules/k40.py
    km3modules/mc.py
    km3modules/parser.py
    km3modules/plot.py
    km3modules/topology.py
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if self.debug:
    if settings.DEBUG
