docopt
h5py
matplotlib
numpy
numpydoc
pandas
pillow
pydocstyle
scipy
seaborn
sklearn
sphinx-gallery
sphinx-rtd-theme
sphinx
sphinxcontrib-napoleon
sphinxcontrib-programoutput
sphinxcontrib-websupport
statsmodels
tables

