graft src/km3pipe
graft src/km3modules
graft src/pipeinspector

global-exclude .env*
global-exclude .git*
global-exclude .pytest_cache
global-exclude .DS_Store
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__

include README.rst CHANGELOG.rst LICENSE CONTRIBUTING.rst pyproject.toml setup.py setup.cfg codemeta.json

include src/km3pipe/version.py

prune docs
prune notebooks
prune tests

exclude .coveragerc
