include README.md
include LICENSE
recursive-include km3pipe *.pyx
recursive-include km3pipe *.pyxbld
recursive-include docs *
recursive-include km3pipe/tests *.py
recursive-include km3pipe/io/tests *.py
recursive-include km3pipe/kp-data *

recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
