docopt
h5py
ipython
ipywidgets
matplotlib>=2.2.0
mock
numpy>=1.12
numpydoc>=0.7.0
pandas
pillow
pydocstyle
pytest
pytest-cov
pytest-flake8
pytest-pylint
pytest-watch
requests
scipy>=0.19
seaborn
sklearn
sphinx-gallery>=0.1.12
sphinx-rtd-theme>=0.3
sphinx>=1.6.3
sphinxcontrib-napoleon>=0.6.1
sphinxcontrib-programoutput>=0.11
sphinxcontrib-websupport>=1.0.1
sphinx-autoapi
setuptools>=40.6.2
setuptools_scm
statsmodels
tables>=3.4.2
toml
tornado
tqdm
twine
urwid
websocket-client
yapf>=0.26
