pip>=9.0.1 
setuptools>=24.3
six==1.10
numpy>=1.12
numexpr
cython
docopt
matplotlib>=2.0.0
pandas
tables==3.4.0
scipy>=0.19
tornado
urwid
websocket-client
sphinx
numpydoc
sphinx_gallery
seaborn
sklearn
patsy
h5py
statsmodels>=0.8
requests
