docopt
controlhost
urwid
numpy==1.11.2
ipython
pandas
cython
websocket-client
tables
tornado
sphinx>=1.4
sphinx-gallery
numpydoc
pillow
matplotlib==2.0.0b4
seaborn
astropy
scikit-learn
statsmodels
scipy
