body {
  margin: 40px auto;

  line-height: 1.6;
  padding: 0 10px;
  font-size: 18px;

  color: #444;
  background-color: #fff;
}

h1, h2, h3 { 
  line-height : 1.2;
}

a {
  color: #0076ba;
  text-decoration: none;
}

a:visited {
  color: #0076ba;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.toc-backref {
  color: #0076ba;
}
