body {
  margin: 40px auto;
  max-width: 650px;

  line-height: 1.6;
  padding: 0 10px;
  font-size: 18px;

  color: #444;
  background-color: #F5F5F5;
}

h1, h2, h3 { 
  line - height : 1.2;
}

a {
  color: #58a5f2;
  text-decoration: none;
}

a:hover {
  color: #8ecffc
}
